h1{
	color: red;
}

#dob{
	border: black solid;
	margin: 10px;
	padding: 10px;
}

.myclass{
	background-color: #CCDDEE;
	border: solid 1px red;
	margin: 10px;
	padding: 10px;
}

button:hover{
	background-color: red;
}